<!DOCTYPE html>
<html>

    <head>
        <title>Page Title</title>
    </head>

    <body>
        <h1>遊戲實驗室</h1>
        <h3>在CococsCreator設定測試環境</h3>
        <ol>
            <li>將"Test"資料夾放在專案的資料夾底下，如下呈現：(ProjectFolder / Test)。</li>
            <br>
            <li>將"package.json"放在專案的資料夾底下，如下呈現：(ProjectFolder / package.json)。</li>
            <br>
            <li>打開"Command Line"並且導覽到專案資料夾底下。</li>
            <br>
            <li>在"Command Line"中輸入"npm install"，並且按下"Enter"運行。</li>
            <br>
            <li>接著輸入"npm test" ,然後會在專案視窗中看到"mochawesome-report"的資料夾。</li>
            <br>
            <li>點選資料夾檔案中的mochawesome.html"，來瀏覽報告。</li>
        </ol>
    </body>

</html>